/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --background-image: url("../images/background-light.png");
    --background-color: #ffffff;
    --accent-color: #000000;
    --gradient-base: #d3d3d3;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --text-shadow: #ffffff;
    --button-text-color: var(--background-color);
    --font-weight-bold: 700;
    --font-weight-regular: 400;
}

:root.theme-dark {
    --background-color: #000000;
    --accent-color: #00CC14;
    --background-image: url("../images/background-dark.png");
    --gradient-base: #000;
    --gradient-start: #007f0c;
    --gradient-end: #004306;
    --text-shadow: #00CC14;
    --button-text-color: var(--accent-color);
    --font-weight-bold: 785;
    --font-weight-regular: 465;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --accent-color: #00CC14;
        --background-image: url("../images/background-dark.png");
        --gradient-base: #000;
        --gradient-start: #007f0c;
        --gradient-end: #004306;
        --text-shadow: #00CC14;
        --button-text-color: var(--accent-color);
        --font-weight-bold: 785;
        --font-weight-regular: 465;
    }
  }