/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'PressStart', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --background-color: #ffffff;
    --accent-color: #000000;
    --gradient-base: #d3d3d3;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --text-shadow: #ffffff;
    --button-text-color: var(--background-color);
    --heart-contour-color: var(--accent-color);
    --heart-fill-color: #FF0000;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
}